<section class="pt-0 md:pt-24 w-full space-y-5 md:space-y-10">
  <div class="flex flex-col space-y-2">
    <h4 class="text-lg md:text-xl font-semibold">Verdieping:</h4>
    <mat-form-field class="w-full">
      <mat-label>Selecteer een verdieping</mat-label>
      <mat-select class="w-full">
        @for (floor of floors; track floor){
        <mat-option class="w-screen" value="{{floor.number}}"
                    (onSelectionChange)="
                    onFloorSelectionChange(floor);"
        >{{floor.number}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex flex-col space-y-2">
    <h4 class="text-lg md:text-xl font-semibold">Vleugel:</h4>
    <mat-form-field class="w-full">
      <mat-label>Selecteer een vleugel</mat-label>
      <mat-select [disabled]="!floorId">
        @for (wing of wings; track wing){
        <mat-option value="{{wing.name}}"
        (onSelectionChange)="onWingSelectionChange(wing)">{{wing.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
    <div class="w-full flex justify-center items-center space-x-4">
      <button class="border-2 border-primary-dark-purple rounded-lg w-fit h-fit p-2 text-lg md:text-xl hover:bg-secondary-purple-light duration-300" matStepperPrevious>Vorige</button>
      <button class="bg-primary-dark-purple rounded-lg w-fit h-fit p-2 text-lg md:text-xl text-white hover:bg-purple-950 duration-300" 
              (click)="checkValidReservationType()"
              matStepperNext>Volgende</button>
    </div>
</section>
