<div class="rounded-lg p-4 border-2 border-secondary-purple-light space-y-2 ">
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold">Standaard locatie</h2>
    <button *ngIf="defaultLocation" class="bg-primary-dark-purple text-white p-2 rounded-lg hover:bg-purple-950 duration-300"
            [routerLink]='"/create-reservation"' [state]="{ location: defaultLocation }">Reserveer</button>
  </div>
  <div *ngIf="defaultLocation">
    <h3>Locatie: {{ defaultLocation.floor.building.name }}</h3>
    <p>Verdieping: {{ defaultLocation.floor.number }}</p>
    <p>Vleugel: {{ defaultLocation.name }}</p>
  </div>
  <div *ngIf="!defaultLocation" class="flex flex-col space-y-2 md:space-y-0 md:flex-row md:items-center md:justify-between">
    <p>U heeft nog geen standaard locatie ingesteld.</p>
    <button [routerLink]="'/favorites'" class="border-2 border-primary-dark-purple p-2 rounded-lg hover:bg-secondary-purple-light duration-300">Stel standaard locatie in</button>
  </div>
</div>
