<li class="pl-1 bg-gradient-to-b from-primary-red to-primary-dark-purple rounded-lg border-2 border-secondary-purple-light w-full mb-2">
  <div *ngIf="!location.isEdit; else edit" class="flex w-full justify-between bg-white rounded-md p-4">
    <p class="min-w-[150px]">{{ location.name }}</p>
    <p class="min-w-[150px]">{{ location.type }}</p>
    <p class="min-w-[150px]">{{ location.wing.floor.building.name }}</p>
    <p class="min-w-[150px]">{{ location.wing.floor.number }}.{{ location.wing.name }}</p>
    <p class="min-w-[150px]">{{ location.capacity }}</p>
    <p class="min-w-[150px]">{{ location.createdAt | date:'shortDate' }}</p>
    <div class="flex space-x-5 ">
      <button (click)="location.isEdit = true">
        <lucide-icon name="pencil" title="bewerken"></lucide-icon>
      </button>
      <button (click)="deletionDialog.show()">
        <lucide-icon name="trash-2" title="verwijderen"></lucide-icon>
      </button>
    </div>
  </div>

  <ng-template #edit>
    <form [formGroup]="locationForm" (ngSubmit)="onSubmitForm()" class="flex w-full justify-between bg-white rounded-md p-4">
      <input type="text" id="locationName" formControlName="locationName" class="w-[150px] p-2 rounded-lg border-2 border-secondary-purple-light"
      [ngClass]="locationForm.get('locationName')?.invalid ? 'border-primary-red' : 'border-secondary-purple-light'">
      <div class="relative w-[150px]">
        <select name="locationType" id="locationType"
        formControlName="locationType" class=" appearance-none p-2 rounded-lg border-2 border-secondary-purple-light w-full"
        [ngClass]="locationForm.get('locationType')?.invalid ? 'border-primary-red' : 'border-secondary-purple-light'">
          <option *ngFor="let type of locationTypes" [ngValue]="type">{{ type }}</option>
        </select>
        <div class="absolute right-2 top-1/2 transform -translate-y-1/2">
          <lucide-icon name="chevron-down"></lucide-icon>
        </div>
      </div>
      <p class="w-[150px] p-2">{{ location.wing.floor.building.name }}</p>
      <div class="relative w-[150px]">
        <select name="wing" id="wing" formControlName="wing" class="w-full p-2 rounded-lg border-2 border-secondary-purple-light appearance-none" 
        [ngClass]="locationForm.get('wing')?.invalid ? 'border-primary-red' : 'border-secondary-purple-light'">
          <option disabled selected [ngValue]="location.wing">{{ location.wing.floor.number }}.{{ location.wing.name }}</option>
          <option *ngFor="let wing of wings" [ngValue]="wing">{{ wing.floor.number }}.{{ wing.name }}</option>
        </select>
        <div class="absolute right-2 top-1/2 transform -translate-y-1/2">
          <lucide-icon name="chevron-down"></lucide-icon>
        </div>
      </div>
      <input type="number" min="1" id="capacity" formControlName="capacity" class="w-[150px] p-2 rounded-lg border-2 border-secondary-purple-light"
      [ngClass]="locationForm.get('capacity')?.invalid ? 'border-primary-red' : 'border-secondary-purple-light'">
      <p class="w-[150px] p-2">{{ location.createdAt | date:'shortDate' }}</p>
      <div class="flex space-x-5 ">
        <button type="submit" id="save">
          <lucide-icon name="save" title="Opslaan"></lucide-icon>
        </button>
        <button id="cancel" class="text-primary-red" (click)="location.isEdit = false">
          <lucide-icon name="x" title="Annuleren"></lucide-icon>
        </button>
      </div>
    </form>
  </ng-template>
</li>
<dialog #deletionDialog class="w-1/3 h-1/3 bg-white rounded-lg border-2 border-black absolute top-1/3 p-4 shadow-md">
  <div class="flex flex-col items-center space-y-4">
    <button (click)="deletionDialog.close()" class="self-end">
      <lucide-icon name="x" label="close"></lucide-icon>
    </button>
    <div class="flex flex-col items-center space-y-10">
      <div class="flex flex-col items-center space-y-2">
        <p>Weet je zeker dat je de locatie wilt verwijderen?</p>
      </div>
      <div class="flex space-x-4">
        <button class="rounded-lg p-2 text-white bg-primary-red" (click)="onDelete()">Verwijder</button>
        <button class="border-2 border-secondary-purple-light rounded-lg p-2" (click)="deletionDialog.close()">Annuleer</button>
      </div>
    </div>
  </div>
</dialog>


