<article class="p-4 md:p-0 flex flex-col h-full w-full space-y-6">
  <section class="flex w-full justify-between">
    <h1 class="w-min whitespace-nowrap text-3xl font-bold">Reserveringen</h1>
    <button [routerLink]="'/create-reservation'" class="hidden md:flex space-x-2 bg-primary-dark-purple text-white p-2 rounded-lg items-center">
      <lucide-icon name="plus" title="Nieuwe reservering plaatsen"></lucide-icon>
      <p>Nieuwe reservering</p>
    </button>
  </section>
  <section class="md:border-2 md:border-secondary-purple-light md:p-4 md:rounded-lg">
    <section class=" hidden md:flex pl-5 p-4 pt-0 w-full font-bold justify-between">
      <p class="w-1/6">Datum</p>
      <p class="w-1/12">Tijd</p>
      <p class="w-1/6">Locatie</p>
      <p class="w-1/5">Type</p>
      <p class="w-1/6">Acties</p>
    </section>
    <ul *ngIf="reservations.length > 0; else noReservations" class="h-[700px] md:h-[500px] overflow-auto">
      <li *ngFor="let reservation of reservations" class="pl-1 bg-gradient-to-b from-primary-red to-primary-dark-purple rounded-lg border-2 border-secondary-purple-light w-full mb-2">
        <div class="md:hidden flex justify-between bg-white rounded-md">
          <div class="flex flex-col p-4">
            <p>Datum: {{reservation.startDateTime | date:'longDate' }}</p>
            <p>Tijd: {{reservation.startDateTime | date:'shortTime'}}</p>
            <p>Locatie: {{reservation.location.wing.floor.building.name}}</p>
          </div>
          <button [routerLink]="'/reservation/details/' + reservation.id" class="flex justify-center items-center p-2 bg-secondary-purple-light rounded-r-lg">
            <lucide-icon name="chevron-right"></lucide-icon>
          </button>
        </div>
        <div class="hidden md:flex w-full bg-white rounded-md p-4 items-center justify-between">
          <p class="w-1/6">{{reservation.startDateTime | date:'longDate' }}</p>
          <p class="w-1/12">{{reservation.startDateTime | date:'shortTime'}}</p>
          <p class="w-1/6">{{reservation.location.wing.floor.building.name}}</p>
          <p class="w-1/5" *ngIf="reservation.location.type === 'WORKPLACE'">Flexplek</p>
          <p class="w-1/5" *ngIf="reservation.location.type === 'ROOM'">Vergaderruimte</p>
          <div class="flex-col space-y-2 w-1/6">
            <button [routerLink]="'/reservation/details/' + reservation.id" class="flex justify-center items-center bg-secondary-purple-light p-2 rounded-lg space-x-2 hover:bg-gray-300 duration-300 w-full">
              <p>Bekijk</p>
              <lucide-icon name="chevron-right"></lucide-icon>
            </button>
            <button (click)="openDeleteModal()" class="p-2 w-full rounded-lg bg-primary-red bg-opacity-80 text-white hover:bg-red-700">Annuleer</button>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #noReservations>
      <div class="flex justify-center items-center w-full h-full">
        <p>U heeft geen reserveringen</p>
      </div>
    </ng-template>
  </section>
  @if (isDeleteModalVisible) {
    <app-delete-modal (closeModalEvent)="openDeleteModal()"></app-delete-modal>
  }
</article>
