<form [formGroup]="personSelectForm" (ngSubmit)="onSubmitForm()"
      class="flex w-full justify-between bg-white rounded-md p-4">
  <div class="flex flex-col space-y-2">
    <label for="favourite-user">Kies een collega:</label>
    <select name="favourite-user" id="favourite-user" class="border-2 border-secondary-purple-light rounded-lg p-2"
            formControlName="favourite-user" (change)="onChangePerson()">
      <option *ngFor="let person of favoriteColleagues"
              [ngValue]="person">{{ person.firstName + " " + person.lastName }}</option>
    </select>
  </div>
</form>


<div class='h-full'>
  <div class='demo-app-main'>
    <full-calendar [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <b class="cursor-pointer">{{ arg.timeText }}</b>
        <i class="cursor-pointer">{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>
